<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.plugin.fixerrorhelper.handlers.PluginMessageHandler"
            commandId="com.plugin.fixerrorhelper.commands.fixErrorHelperCommand">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.plugin.fixerrorhelper.commands.category"
            name="FixErrorHelper">
      </category>
      <command
            categoryId="com.plugin.fixerrorhelper.commands.category"
            name="FixErrorHelper"
            id="com.plugin.fixerrorhelper.commands.fixErrorHelperCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.plugin.fixerrorhelper.commands.fixErrorHelperCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.plugin.fixerrorhelper.toolbars.fixErrorHelperToolbar">
            <command
                  id="com.plugin.fixerrorhelper.toolbars.fixErrorHelperCommand"
                  commandId="com.plugin.fixerrorhelper.commands.fixErrorHelperCommand"
                  icon="icons/icon16.png">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension 
         point="org.eclipse.equinox.preferences.preferences">
      <initializer 
            class="com.plugin.fixerrorhelper.preferences.PluginPreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
   	  <page
            class="com.plugin.fixerrorhelper.preferences.PluginPreferencePage"
	        id="com.plugin.fixerrorhelper.preference.page"
	        name="FixErrorHelper">
	        <keywordReference id="com.plugin.fixerrorhelper.keywords"/>
	  </page>
   </extension>
   
   <extension 
         point="org.eclipse.ui.keywords">
      <keyword 
            id="com.plugin.fixerrorhelper.keywords"
            label="error helper key language"/>
   </extension>

</plugin>